Repository MilonPL/emberfall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emberfall-14/maintainers, @MilonPL, @emberfall-14/yaml-maintainers, @emberfall-14/maptainers

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @emberfall-14/maintainers

# Any assets
/Resources/ @emberfall-14/maintainers

# Server config files
/Resources/ConfigPresets/ @MilonPL

# YML files
/Resources/*.yml @emberfall-14/yaml-maintainers
/Resources/**/*.yml @emberfall-14/yaml-maintainers

# Maps
/Resources/Maps/ @emberfall-14/maptainers
/Resources/Prototypes/Maps/ @emberfall-14/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @emberfall-14/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @MilonPL

# Tools and scripts
/Tools/ @MilonPL

# Workflows, codeowners, templates, etc.
/.github/ @MilonPL

# Standalone files in the root repo
/* @MilonPL

aaaaaaaaaaaaaaaaaa
  Resources/Prototypes/_Emberfall/Decals/sclogo.yml
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/meta.json
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo1.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo10.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo11.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo12.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo13.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo14.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo15.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo16.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo17.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo18.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo19.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo2.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo20.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo3.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo4.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo5.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo6.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo7.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo8.png
  Resources/Textures/_Emberfall/Decals/sclogo.rsi/sclogo9.png
Owners: @emberfall-14/yaml-maintainers, @emberfall-14/maintainers

stupid fucking idiot
  Resources/Maps/Nonstations/mining_outpost.yml
Owners: @emberfall-14/maptainers

Job Item Overrides
  Resources/Locale/en-US/emberfall/job/job-item-overrides.ftl
Owners: @emberfall-14/maintainers

I forgot Inspector Gadget
  Resources/Locale/en-US/emberfall/job/job-item-overrides.ftl
  Resources/Locale/en-US/emberfall/paper/stamp-component.ftl
  Resources/Locale/en-US/emberfall/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

FUCK
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
Owners: @emberfall-14/yaml-maintainers

The Playtime Trackers that Time Forgot
  Resources/Prototypes/_Emberfall/Roles/play_time_trackers.yml
Owners: @emberfall-14/yaml-maintainers

Revert "Guess what, a bunch of comments are making Fluent shit itself. Milon remove this it's not important but it's just QOL."
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Locale/en-US/game-ticking/game-rules/gamerule-admin.ftl
  Resources/Locale/en-US/revenant/revenant.ftl
  Resources/Locale/en-US/weapons/melee/melee.ftl
Owners: @emberfall-14/maintainers

calling this a feature is generous
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/_Emberfall/Damage/StaminaSystem.Resist.cs
  Resources/Locale/en-US/_emberfall/armor/armor-examine.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

buff damage
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Owners: @emberfall-14/yaml-maintainers

Making some progress.
  Resources/Locale/en-US/_emberfall/job/job-description.ftl
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
  Resources/Locale/en-US/_emberfall/job/job-names.ftl
  Resources/Locale/en-US/_emberfall/job/job-supervisors.ftl
  Resources/Locale/en-US/_emberfall/paper/stamp-component.ftl
  Resources/Locale/en-US/_emberfall/prototypes/access/accesses.ftl
Owners: @emberfall-14/maintainers

I forgot a space.
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
Owners: @emberfall-14/maintainers

I have to do this, otherwise the linter shits itself and fucking dies
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
Owners: @emberfall-14/maintainers

OKAY FUCK THE wINDOOR ACTUALLY! FUCK YOU!! FUCK YOU !! FUCK YOU!!
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
Owners: @emberfall-14/maintainers

Endless CBT
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

More endless CBT
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

Moving the beacons, too, because those shit themselves
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
  Resources/Locale/en-US/_emberfall/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

yippee!!
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Server.Database/EmberfallModel.cs
  Content.Server.Database/Migrations/Postgres/20241229061211_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241229061211_EmberfallProfile.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20241229061240_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241229061240_EmberfallProfile.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @emberfall-14/maintainers

I LOVE FLUENT
  Resources/Locale/en-US/_emberfall/preferences/ui/humanoid-profile-editor.ftl
Owners: @emberfall-14/maintainers

FML!!
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

bigger, better, and still equally broken
  Resources/Locale/en-US/_emberfall/preferences/ui/humanoid-profile-editor.ftl
Owners: @emberfall-14/maintainers

yeah fuck the door electronics too
  Resources/Locale/en-US/_emberfall/job/job-item-overrides.ftl
Owners: @emberfall-14/maintainers

fix stupid fucking migrations
  Content.Server.Database/EmberfallModel.cs
  Content.Server.Database/Migrations/Postgres/20241229065354_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241229065354_EmberfallProfile.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20241229065409_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241229065409_EmberfallProfile.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
Owners: @emberfall-14/maintainers

i love linq
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/EmberfallModel.cs
Owners: @emberfall-14/maintainers

db fuckery part 192
  Content.Server.Database/Migrations/Postgres/20241229070759_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241229070759_EmberfallProfile.cs
  Content.Server.Database/Migrations/Sqlite/20241229070752_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241229070752_EmberfallProfile.cs
Owners: @emberfall-14/maintainers

fix test fail fr fr
  Content.Server.Database/EmberfallModel.cs
Owners: @emberfall-14/maintainers

sometimes its hard to resist the urge to drive right off a fucking bridge
  Content.Server.Database/EmberfallModel.cs
  Content.Server.Database/Migrations/Postgres/20241229070759_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241229070759_EmberfallProfile.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20241229070752_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241229070752_EmberfallProfile.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
Owners: @emberfall-14/maintainers

OH LOOK THERE'S ONE
  Content.Server.Database/Migrations/Postgres/20241229074631_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241229074631_EmberfallProfile.cs
  Content.Server.Database/Migrations/Sqlite/20241229074622_EmberfallProfile.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241229074622_EmberfallProfile.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server/Database/ServerDbBase.cs
Owners: @emberfall-14/maintainers

examine
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Examine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/_emberfall/weapons/gun-examine.ftl
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

kill
  Resources/Audio/_Emberfall/Weapons/Guns/Gunshots/universal.ogg
  Resources/Audio/_Emberfall/license.txt
Owners: @emberfall-14/maintainers

tracer bullets wooo
  Content.Client/_Emberfall/Weapons/Ranged/Overlays/TracerOverlay.cs
  Content.Client/_Emberfall/Weapons/Ranged/Systems/TracerSystem.cs
  Content.Shared/_Emberfall/Weapons/Ranged/TracerComponent.cs
  Resources/Locale/en-US/_emberfall/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Boxes/heavy_pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_Emberfall/Recipies/Lathes/security.yml
  Resources/Prototypes/_Emberfall/Research/arsenal.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/meta.json
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

smallest milon pr
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Examine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Locale/en-US/_emberfall/weapons/guns/ammunition.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Boxes/heavy_pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_pistol.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_Emberfall/Recipies/Lathes/security.yml
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

buff damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_pistol.yml
Owners: @emberfall-14/yaml-maintainers

PRAY
  Resources/Locale/en-US/_emberfall/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Migrations/emberfallMigration.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Emberfall/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Emberfall/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Emberfall/Entities/Markers/Spawners/Random/safes.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Pistols/heavy_pistols.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/red-icon.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/red-icon.png
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

wield sprites
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Examine.cs
  Resources/Locale/en-US/_emberfall/weapons/gun-examine.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Emberfall/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Emberfall/Recipies/Lathes/security.yml
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/carbinenogl.rsi/equipped-BACKPACK.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/carbinenogl.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/carbinenogl.rsi/meta.json
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/carbinenogl.rsi/wielded-inhand-left.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/carbinenogl.rsi/wielded-inhand-right.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/nightshade.rsi/equipped-BACKPACK.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/nightshade.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/nightshade.rsi/meta.json
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/nightshade.rsi/wielded-inhand-left.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/nightshade.rsi/wielded-inhand-right.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/base.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/bolt-open.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/equipped-BACKPACK.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/icon.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/meta.json
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/wielded-inhand-left.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/tenebra.rsi/wielded-inhand-right.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/vulcan.rsi/meta.json
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/vulcan.rsi/wielded-inhand-left.png
  Resources/Textures/_Emberfall/Objects/Weapons/Guns/Rifles/vulcan.rsi/wielded-inhand-right.png
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

wags his tail
  Resources/Prototypes/_Emberfall/Actions/types.yml
  Resources/Prototypes/_Emberfall/Entities/Mobs/Species/vulpkanin.yml
Owners: @emberfall-14/yaml-maintainers

nukies + fixes
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Emberfall/Actions/types.yml
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/combat-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/meta.json
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
Owners: @emberfall-14/yaml-maintainers, @emberfall-14/maintainers

fox ears inner layer
  Resources/Locale/en-US/_emberfall/markings/vulpkanin.ftl
  Resources/Prototypes/_Emberfall/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Textures/_Emberfall/Mobs/Customization/Vulpkanin/ear_markings.rsi/fox-inner.png
  Resources/Textures/_Emberfall/Mobs/Customization/Vulpkanin/ear_markings.rsi/meta.json
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

smokables sprites
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_Emberfall/Species/vulpkanin.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cannabis/blunt.rsi/lit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cannabis/blunt.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cannabis/blunt.rsi/unlit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cannabis/joint.rsi/lit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cannabis/joint.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cannabis/joint.rsi/unlit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/lit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/unlit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/lit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/unlit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/lit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/unlit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/pipe.rsi/lit-equipped-MASK-vulpkanin.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/pipe.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/pipe.rsi/unlit-equipped-MASK-vulpkanin.png
Owners: @emberfall-14/yaml-maintainers, @emberfall-14/maintainers

dogtags but good
  Content.Client/_Emberfall/Engraving/EngravableSystem.cs
  Content.Server/_Emberfall/Engraving/EngravableSystem.cs
  Content.Shared/_Emberfall/Engraving/EngravableComponent.cs
  Content.Shared/_Emberfall/Engraving/SharedEngravableSystem.cs
  Resources/Locale/en-US/_emberfall/engravable/engravable.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Emberfall/Entities/Objects/Misc/dogtags.yml
  Resources/Prototypes/_Emberfall/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Emberfall/Objects/Misc/dogtags.rsi/dogtag.png
  Resources/Textures/_Emberfall/Objects/Misc/dogtags.rsi/equipped-NECK.png
  Resources/Textures/_Emberfall/Objects/Misc/dogtags.rsi/meta.json
Owners: @emberfall-14/maintainers, @emberfall-14/yaml-maintainers

why
  Content.Server/_Emberfall/Engraving/EngravableSystem.cs
Owners: @emberfall-14/maintainers
